# Everything excluded by default, then whitelist what we need
**

# Include only runtime essentials
!dist/**
!package.json
!LICENSE
!README.md
!icon.png
!node_modules/better-sqlite3/**
!node_modules/bindings/**
!node_modules/prebuild-install/**
!node_modules/file-uri-to-path/**
!node_modules/node-addon-api/**
